/* Нeader + slider */
.navbar-default {
    background-color: #fff;
}

.navbar {
    overflow: hidden;
}
.navbar-header {
    display: block;
    margin-top: 7px;
}
.navbar-nav > li > a {
  font: 11px Ubuntu, Arial, sans-serif;
  text-transform: uppercase;
}
.nav > li > a {
  padding: 15px 8px;
}
.navbar-default .navbar-nav > li > a {
    color: #888;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #8dc5ad;
}
.active_link {
  color:#8dc5ad!important; 
}
.navbar-brand {
  padding: 0;
}
@media (max-width: 768px) {
.navbar-brand > img {
    width: 100%;
}
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-nav > li {
    margin-top: 6px;
}


.glyphicon-chevron-left {
    background-image: url(../images/slide_left.png);
    width: 20px;
    height: 23px;
}
.glyphicon-chevron-right {
    background-image: url(../images/slide_right.png);
    width: 20px;
    height: 23px;
}

/* END Нeader + slider */

/* Services */
.list-services {
  text-align: center;
  padding-bottom: 40px;
}
.main-services {
  display: inline-block;
  padding: 43px 8px 5px;
}
.href-services-mozaika {
  width:195px;
  height: 42px;
  color:#888;
}
.href-services-mozaika > h2{
  font: 13px Ubuntu, Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 16px;
}
.href-services-mozaika > h2:hover {
  color:#8dc5ad;
  cursor: pointer;
}
.href-services {
    padding-bottom: 15px;
    width: 195px;
    font: 11px/13px Ubuntu, Arial, sans-serif;
    color:#888;
}
.href-services > a {
  font: 11px Ubuntu, Arial, sans-serif;
  color:#888;
}
.href-services > h2 {
  font: 13px Ubuntu, Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 16px;
}
.href-services > h2:hover {
  color:#8dc5ad;
  cursor: pointer;
}

.list-services > .main-services> .href-services img {
    max-width: 100%;
}
/* END  Services */

/* About us block */
.about_us_block {
  width: 100%;
  min-height: 300px;
  background-color: #F8F8F8;
  padding-bottom: 45px;
  text-align: center;
}
.title_about_us {
  text-align: center;
  padding-bottom: 17px;
}
.title_about_us > h3 {
  font:14px Ubuntu, Arial, sans-serif;
  color: #888;
  text-transform: uppercase;
}
.img_about_us {
  display: inline-block;
  padding: 0 17px 17px;
  vertical-align: top;
}
.about_us_block > .container > .all_about_us_big_block > .img_about_us > img {
  max-width: 100%;
}
@media (max-width: 768px) {
   .img_about_us {
  width: 100%;
}
}
.text_about_us {
  display: inline-block;
}
.first_part_text_about_us {
  padding-left: 17px;
  padding-right: 17px;
  float: left;
  font:10px/12px Ubuntu, Arial, sans-serif;
  color: #888;
  text-align: left;
}
.second_part_text_about_us {
  padding-left: 17px;
  padding-right: 17px;
  float: left;
  font:10px/12px Ubuntu, Arial, sans-serif;
  color: #888;
  text-align: left;
}

@media (min-width: 768px) {
    .first_part_text_about_us{
    max-width: 185px;
  }
  .second_part_text_about_us {
    max-width: 185px;
  }
}

/* End about us block */

/* All services */
.all_services_block {
  width: 100%;
  min-height: 316px;
  text-align: center;
  padding-bottom: 22px;
}
.title_all_services {
  text-align: center;
  padding-bottom: 5px;
}
.title_all_services > h3 {
  font:14px Ubuntu, Arial, sans-serif;
  color: #888;
  text-transform: uppercase;
}
.mini_block_services {
  width: 179px;
  height: 85px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 25px;
}

.title_mini_block_services {
  width: 170px;
  height: 24px;
  margin-bottom: 12px;
  text-align: left;
}
.title_mini_block_services > h4 {
  font:12px/12px Ubuntu, Arial, sans-serif;
}
.title_mini_block_services > h4 > a {
  font:12px/12px Ubuntu, Arial, sans-serif;
  color: #77c9b3;
}

.mini_text_mini_block_services {
  width: 170px;
  font:10px/12px Ubuntu, Arial, sans-serif;
  color: #888;
  text-align: left;
}
.marker {
  width: 7px;
  height: 6px;
  background-image: url(../images/marker_services.png);
  background-repeat: no-repeat;
  position: absolute;
  margin-left: -10px;
  margin-top: 15px;
}
/* END All services */

/* Our specialists */
.our_specialists_block {
  width: 100%;
  text-align: center;
}
.specialist {
  width: 300px;
  height: 165px;
  overflow: hidden;
  background-color: #F8F8F8;
  display: inline-block;
  text-align: left;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 10px;
}
@media (max-width: 768px) {
   .specialist {
  width: 245px;
}
}
.img_specialist {
  float: left;
  margin: 28px 20px 0;
}
@media (max-width: 768px) {
  .img_specialist {
  float: left;
  margin: 28px 15px 0;
}
}
.title_specialist {
  width: 150px;
  margin-top:28px;
  font: 12px/18px Ubuntu, Arial, sans-serif;
  color: #77c9b3;
  float: left;
  margin-bottom:7px;
}
@media (max-width: 768px) {
   .title_specialist {
  width: 100px;
}
}
.upper_span {
  text-transform: uppercase;
}
.text_about_specialist {
  font: 10px/18px Ubuntu, Arial, sans-serif;
  color: #888;
}

.open_all, .close_all {
  width: 86px;
  font: 12px/18px Ubuntu, Arial, sans-serif;
  color: #77c9b3;
  clear: both;
  cursor: pointer;
  padding-top:7px;
  margin: 0 auto;
}
.time_work {
  position: absolute;
  width: 300px;
  height: 165px;
  background-color: #77c9b3;
  text-align: center;
  padding-top:55px;
}
.time_work_img {
  display: inline-block;
  vertical-align: top;
}
.time_work_title {
  min-width: 100px;
  display: inline-block;
  font: bold 14px Ubuntu, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
.time_work_hours {
  font: 10px Ubuntu, Arial, sans-serif;
  color:#fff;
  padding-top:4px;
}
@media (max-width: 768px) {
   .time_work {
  width: 245px;
}
}
/* End our specialists */

/* page recalls */
.our_recalls_block {
  width: 100%;
  min-height: 265px;
  text-align: center;
  padding-bottom: 5px;
}
.title_our_recalls {
  text-align: center;
  padding-bottom: 5px;
}
.title_our_recalls > h3 {
  font:14px Ubuntu, Arial, sans-serif;
  color: #888;
  text-transform: uppercase;
  margin-top:10px;
  margin-bottom: 5px;
}
.recall {
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
}
.rslides > li > img {
  display: block;
  width: auto;
  float: none;
  margin: 0 auto;
}
.text_recalls {
  display: block;
  font:12px/18px Ubuntu, Arial, sans-serif;
  color: #888;
  margin-top: 13px;
}
.member_recalls {
  display: block;
  font:12px/18px Ubuntu, Arial, sans-serif;
  color: #77c9b3;
  margin-top: 5px;
}
/* END page recalls */

/* Footer */

#footer {
  background-color:#f8f8f8;
  text-align: center;

}
.footer_text {
  font:12px Ubuntu, Arial, sans-serif;
  color: #888;
  margin-top: 21px;
  margin-bottom: 7px;
}
.footer_numbers_of_phones {
  font:16px Ubuntu, Arial, sans-serif;
  color: #77c9b3;
}
.footer_adress {
  font:12px Ubuntu, Arial, sans-serif;
  color: #888;
  margin-top: 8px;
}
.footer_email {
  font:12px Ubuntu, Arial, sans-serif;
  color: #77c9b3;
  margin-top: 12px;
}
.footer_links > a {
  font:12px Ubuntu, Arial, sans-serif;
  color: #e3e3e3;
}
.white_block {
  height: 40px;
  width: 100%;
  background-color: #fff;
  margin-top:28px;
}

/* About us */

.name_of_page {
  width:100%;
  background-color: #f8f8f8;
  margin-top:60px;
  min-height: 50px;
}
@media (max-width: 340px) {
   .name_of_page {
  margin-top:120px;
  min-height: 50px;
}
}
.big_name_of_page {
  font:18px Ubuntu, Arial, sans-serif;
  color: #888;
  text-transform: uppercase;
  float: left;
  padding-top: 12px;
}

.subpage {
  font:10px Ubuntu, Arial, sans-serif;
  float: right;
  color:#8dc5ad;
  padding-top:16px;
  padding-bottom: 10px;
}
.not_active_subpage {
  color: #888;
}
.not_active_subpage:hover {
  text-decoration: none;
  color: #8dc5ad;
}

.active_subpage {
  color:#8dc5ad;
}

.active_subpage:hover {
  text-decoration: none;
  color:#8dc5ad;
}


.main_text_about_us > .container > h1 {
  font:16px Ubuntu, Arial, sans-serif;
  color: #888;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 13px;
}
.img_about_us_vn {
  display: inline-block;
  vertical-align: top;
}
.img_about_us_vn > img {
  width: 100%;
}
.text_first_about_us {
  width: 510px;
  display: inline-block;
  font: 12px/20px Ubuntu, Arial, sans-serif;
  color: #888;
  padding-left:30px;
}

@media (max-width: 980px) {
.text_first_about_us {
  width: 100%;
  padding-left:0;
  padding-top:20px;
}
}
.active_about_us_part {
  display: block;
  color: #8dc5ad;
}
.text_secod_about_us {
  max-width: auto;
  font: 12px/20px Ubuntu, Arial, sans-serif;
  color: #888;
  padding-top:20px;
}

.our_mission{
  font: 12px/20px Ubuntu, Arial, sans-serif;
  color: #888;
  padding-top:20px;
}
.our_mission > h2 {
  font: 14px/20px Ubuntu, Arial, sans-serif;
  text-transform: uppercase;
  color: #888;
}

.our_work{
  font: 12px/20px Ubuntu, Arial, sans-serif;
  color: #888;
  padding-top:20px;
  padding-bottom: 35px;
}
.our_work > h2 {
  font: 14px/20px Ubuntu, Arial, sans-serif;
  text-transform: uppercase;
  color: #888;
}
/* End about us */

/* Sevices */


.main_text_services > .container > h1 {
  font:16px Ubuntu, Arial, sans-serif;
  color: #888;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 13px;
}

.part_services {
  width: 100%;
  text-align: center;
}

.mini_part_services {
  width:97px;
  height: 37px;
  overflow: hidden;
  background-color: #f8f8f8;
  margin:5px 5px;
  padding-top:;
  display: inline-block;
  text-align: center;
  padding-top:7px;
}

.ankor_service {
  font:12px/18px Ubuntu, Arial, sans-serif;
  color: #888;
  text-transform: uppercase;
}
.part_services > .mini_part_services:hover {
  background-color: #888;
  color: #fff;
  cursor: pointer;
}
.part_services > .mini_part_services:hover > a {
  text-decoration: none;
  color: #fff;
}
.active_block_service {
  background-color: #888;
}
.active_ankor_service {
  color: #fff;
}

.all_services {
  width: 100%;
  text-align: center;
}

.middle_block_of_service {
  max-width:288px;
  display: inline-block;
  vertical-align: top;
  margin: 0 7px 25px;
}
.img_service > img {
  width: 100%;
  opacity: 0.7;
}

.all_mini_text-service {
  width:100%;
  background-color: #f8f8f8;
  padding: 22px 20px;
}

.header_service {
  max-height: 30px;
  overflow: hidden;

}

.header_service > h2 {
  font:12px/14px Ubuntu, Arial, sans-serif;
  color: #8dc5ad;
  text-transform: uppercase;
  text-align: left;
  margin-top:0;
}

.header_service > h2 > a {
  font:12px/14px Ubuntu, Arial, sans-serif;
  color: #8dc5ad;
  text-transform: uppercase;
  text-align: left;
  margin-top:0;
}
.header_service > h2 > a:hover {
  font:12px/14px Ubuntu, Arial, sans-serif;
  color: #888;
  text-decoration: none;
}
.mini_text_service {
  max-height: 55px;
  overflow: hidden;
  font:12px/18px Ubuntu, Arial, sans-serif;
  color: #888;
  text-align: left;
}

.number_of_page_service {
  width: 100%;
  text-align: center;
  margin:35px 0 55px;
}

.number_ankor_service {
  font:13px Ubuntu, Arial, sans-serif;
  border:1px solid #f8f8f8;
  padding:2px 7px 3px 7px;
  background-color:#fff;
  color:#8dc5ad;
}
.number_ankor_service:hover {
  background-color:#77c9b3;
  color:#fff;
  text-decoration: none;
}
.active_number_ankor_service {
  background-color:#77c9b3;
  color:#fff;
}
/* END services */

/* News */
.all_block_news {
  margin-top:40px;
}
.main_text_news {
  width: 100%;
  text-align: center;
}
.mini_block_news {
  max-width: 600px;
  display: inline-block;
  margin-bottom: -44px;
}
.main_block_news {
  max-width: 600px;
  overflow: hidden;
  margin-bottom: 44px;
}
.header_news >h2 {
  font:16px Ubuntu, Arial, sans-serif;
  color:#888;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.header_news >h2 >a{
  font:16px Ubuntu, Arial, sans-serif;
  color:#888;
  text-transform: uppercase;
}
.header_news >h2 >a:hover{
  font:16px Ubuntu, Arial, sans-serif;
  color:#8dc5ad;
  text-decoration: none;
}
.img_news > img {
  width: 100%;
  opacity: 0.7;
}
.preview_news {
  font:12px/18px Ubuntu, Arial, sans-serif;
  color:#888;
  text-align: left;
  margin-top:33px;
}
.button_preview_news {
  width: 113px;
  height: 40px;
  border:1px solid #888;
  float: left;
  text-align: center;
  margin-top:21px;
  padding-top: 7px;
}
.button_preview_news:hover {
  background-color: #8dc5ad;
  cursor: pointer;
}

.button_preview_news > a {
  font:11px Ubuntu, Arial, sans-serif;
  color:#8dc5ad;
  text-transform: uppercase;
}
.button_preview_news:hover > a {
  color: #fff;
  text-decoration: none;
}
.block_right_sidebar {
  max-width: 260px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}

@media (max-width: 990px) {
.block_right_sidebar {
  max-width: 600px;
  margin-left: 15px;
}
.category_services >h2 {
  padding-bottom: 7px;
}
.category_services > a {
  float: left;
  padding-right: 20px;
}
}
.category_services {
  overflow: hidden;
  text-align: left;
  padding-bottom: 10px;
}
.category_services >h2 {
  font:16px Ubuntu, Arial, sans-serif;
  color:#888;
  text-transform: uppercase;
  padding-bottom: 7px;
  margin-top: 0;
}
.category_services >a {
  display: block;
  font:12px/21px Ubuntu, Arial, sans-serif;
  color:#8dc5ad;
  text-transform: uppercase;
}
.marker_category {
  padding-right: 5px;
}
.category_services >a:hover {
  text-decoration: none;
  color: #888;
}

.last_recalls >h2 {
  padding-bottom: 7px;
}
.last_recalls {
  text-align: left;
  overflow: hidden;
}
.last_recalls >h2 {
  font:16px Ubuntu, Arial, sans-serif;
  color:#888;
  text-transform: uppercase;
  padding-bottom: 7px;
}
.mini_recall {
  margin-bottom: 30px;
}
.name_recall {
  font:14px Ubuntu, Arial, sans-serif;
  color:#8dc5ad;
  text-transform: uppercase;
}
.date_recall > span {
  font:11px Ubuntu, Arial, sans-serif;
  color:#8dc5ad;
  padding-right: 5px;
}
.mini_text_recall {
  font:14px/18px Ubuntu, Arial, sans-serif;
  color:#888;
  padding-top:10px;
}

/* End news */

/* Recalls */
.main_text_recalls {
  width: 100%;
  text-align: center;
}
.all_block_recalls {
  margin-top:20px;
}
.all_block_recalls > .mini_block_recalls > h2 {
  font:16px Ubuntu, Arial, sans-serif;
  color:#888;
  text-transform: uppercase;
  float:left;
}
.mini_block_recalls{
  display: inline-block;
  margin-bottom: -44px;
  margin-right: 75px;
}
@media (max-width: 1010px) {
.mini_block_recalls{
  margin-right: 0;
}
}
.form {
  clear: both;
  max-width: 500px;
  overflow: hidden;
  padding-bottom: 70px;
}

.input_name_recall {
    display: block;
    width: 100%;
    font: 14px Ubuntu,Arial,sans-serif;
    height: 30px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-bottom: 2px;
    color: #888;
    border: 1px solid #888;
}
.input_email_recall {
    display: block;
    width: 100%;
    font: 14px Ubuntu,Arial,sans-serif;
    height: 30px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-bottom: 2px;
    color: #888;
    border: 1px solid #888;
}

.input_textarea_rekall{
    display: block;
    width: 100%;
    font: 14px Ubuntu,Arial,sans-serif;
    height: 175px;
    margin-bottom: 25px;
    padding: 10px 20px;
    border: 1px solid #888;
    color: #888;
}
.submit_form {
  width: 120px;
  height: 30px;
  border: 1px solid #888;
  font: 14px Ubuntu, Arial, sans-serif;
  text-transform: uppercase;
  color:#8dc5ad;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  float: right;
}
.submit_form:hover {
  border: none;
  background-color:#8dc5ad;
  color: #fff; 
}

*::-moz-placeholder {
    color: #888;
    opacity: 1;
}

textarea {
  resize: none;
}

.block_with_text_recall {
  max-width: 500px;
  border: 1px solid #888;
  padding: 22px 17px 17px 17px;
  overflow: hidden;
  margin-bottom: 27px;
}
.img_man_recall {
  width: 55px;
  height: 55px;
  float: left;
  margin-right: 17px;
  margin-bottom: 10px;
}
.text_with_name_recall {
  max-width: 390px;
  overflow: hidden;
  float: left;
}
.mini_name_recall {
  display: block;
  font: 13px Ubuntu, Arial, sans-serif;
  color: #8dc5ad;
  text-align: left;
  padding-bottom: 14px;
}
.mini_text_recall {
  display: block;
  font: 11px/14px Ubuntu, Arial, sans-serif;
  color: #888;
  text-align: left;
}
.mini_date_recall {
  display: block;
  clear: both;
  float: right;
  font: 12px Ubuntu, Arial, sans-serif;
  color: #696969;
}
.block_right_sidebar_recall {
  max-width: 335px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.last_services {
  cursor: pointer;
}
.last_services > h2 {
  text-align: right;
  font: 16px Ubuntu, Arial, sans-serif;
  color: #888;
  text-transform: uppercase;
  padding-bottom: 14px;
}
.mini_last_service {
  margin-bottom: 40px;
}
.img_last_service {
  border: 1px solid #888;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.img_last_service > img {
  width: 120px;
  height: 67px;
  opacity: 0.7;
}
.head_last_service {
  max-width: 200px;
  float: left;
 text-align: left;
 margin-bottom: 10px;
}
.head_last_service > a {
  font: 12px/18px Ubuntu, Arial, sans-serif;
  color: #8dc5ad;
  text-transform: uppercase;
}
.head_last_service > a:hover {
  color: #888;
  text-decoration: none;
}
.text_last_service {
  clear: both;
  max-width: 335px;
  font: 12px/18px Ubuntu, Arial, sans-serif;
  color: #888;
  overflow: hidden;
  text-align: left;
}

.last_news > h2 {
  text-align: right;
  font: 16px Ubuntu, Arial, sans-serif;
  color: #888;
  text-transform: uppercase;
  padding-bottom: 14px;
}
/* End recalls */

/* Contacts */
.main_text_recalls {
  text-align: center;
}

.map{
  position: relative;
  padding-bottom: 45%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top:30px;
  margin-bottom: 70px;
}  

.map iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact_information {
  max-width: 340px;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
}
.contact_information > h2 {
  font: 13px Ubuntu, Arial, sans-serif;
  color: #888;
  text-transform: uppercase;
  text-align: left;
}
.contact_information  span {
  display: block;
}
.info_first {
  font: 10px/14px Ubuntu, Arial, sans-serif;
  color: #8dc5ad;
  margin-bottom: 16px;
  text-align: left;
}
.info_second {
  font: 10px/14px Ubuntu, Arial, sans-serif;
  color: #888;
  margin-bottom: 11px;
  text-align: left;
}
.info_third {
  font: bold 11px/14px Ubuntu, Arial, sans-serif;
  color: #6e6e6e;
  text-align: left;
}
.info_fourth {
  font: 10px/14px Ubuntu, Arial, sans-serif;
  color: #888;
  text-align: left;
}
.contact_form {
  max-width: 550px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 55px;
}
.contact_form > h2 {
  font: 13px Ubuntu, Arial, sans-serif;
  color: #888;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 7px;
}

.input_name_contacts {
  width: 170px;
  font: 10px Ubuntu,Arial,sans-serif;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-bottom: 2px;
  color: #888;
  border: 1px solid #888;
  margin-right:15px;
}
.input_email_contacts {
  width: 170px;
  font: 10px Ubuntu,Arial,sans-serif;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-bottom: 2px;
  color: #888;
  border: 1px solid #888;
  margin-right:15px;
}
.input_call_contacts {
  width: 170px;
  font: 10px Ubuntu,Arial,sans-serif;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-bottom: 2px;
  color: #888;
  border: 1px solid #888;
}
.input_textarea_contacts {
  width: 550px;
  font: 10px Ubuntu,Arial,sans-serif;
  height: 130px;
  margin-bottom: 20px;
  padding: 10px 10px;
  border: 1px solid #888;
  color: #888;
}

@media (max-width: 550px) {
.input_textarea_contacts {
  display: block;
  width:230px;
}
.input_call_contacts {
  display: block;
}
.input_email_contacts {
  display: block;
}
.input_name_contacts {
  display: block;
}
}
.submit_form_contacts {
  width: 80px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #888;
  font: 10px Ubuntu, Arial, sans-serif;
  text-transform: uppercase;
  color:#8dc5ad;
  text-align: center;
  cursor: pointer;
  float: left;
  margin-right: 15px;
}
.submit_form_contacts:hover {
  border: none;
  background-color:#8dc5ad;
  color: #fff; 
}
.submit_form_contacts_del {
  width: 80px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #888;
  font: 10px Ubuntu, Arial, sans-serif;
  text-transform: uppercase;
  color:#8dc5ad;
  text-align: center;
  cursor: pointer;
  float: left;
  margin-right: 15px;
}
.submit_form_contacts_del:hover {
  border: none;
  background-color:#8dc5ad;
  color: #fff; 
}
/* End contacts */

/* Internal-service-page */

.main_internal_service_page {
  width: 100%;
  text-align: center;
}
.all_internal_service_page {
  margin-top:50px;
}
.mini_block_internal_service_page {
  max-width: 550px;
  display: inline-block; 
  padding-bottom: 38px;
}
.img_internal_page {
  border:1px solid #888;
}
.img_internal_page > img {
  width: 100%;
  opacity: 0.7;
}
.prev_next {
  width: 100%;
  height: 36px;
  border-top:1px solid #888;
  border-bottom: 1px solid #888;
  padding-top:8px;
  padding-bottom: 8px;
  margin-top:45px;
}
.prev_service {
  width:60px;
  height: 20px;
  background-color:#888;
  color:#fff;
  font: bold 11px Ubuntu, Arial, sans-serif;
  text-align: center;
  padding-top:3px;
  float: left;
  cursor: pointer;
}
.prev_service:hover {
  background-color:#fff;
  color:#8dc5ad;
}
.next_service {
  width:60px;
  height: 20px;
  background-color:#888;
  color:#fff;
  font: bold 11px Ubuntu, Arial, sans-serif;
  text-align: center;
  padding-top:3px;
  float: right;
  cursor: pointer;
}
.next_service:hover {
  background-color:#fff;
  color:#8dc5ad;
}
.posts_block_service {
  width: 100%;
  overflow: hidden;
}
.posts_block_service h3 {
  font: 11px Ubuntu, Arial, sans-serif;
  color:#888;
  padding-top:20px;
  padding-bottom: 17px;
  text-transform: uppercase;
}
.last_post {
  display: inline-block;
  width:120px;
  margin: 0 7px;
  vertical-align: top;
  text-align: left;
  margin-bottom: 15px;
}
.last_post >img {
  display: block;
  margin-bottom: 25px;
  opacity: 0.7;
  border:1px solid #888;
}
.last_post > a {
  font: 10px/12px Ubuntu, Arial, sans-serif;
  color:#8dc5ad;
}
.last_post > a:hover {
  color:#888;
  text-decoration: none;
}
.block_right_sidebar_internal {
  width: 340px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin-left: 22px;
}
@media (max-width: 450px) {
.block_right_sidebar_internal {
  width:230px;
  margin-left: 0;
}
}
.name_post_service_internal {
  width: 100%;
  height: 32px;
  border-top:1px solid #888;
  border-bottom: 1px solid #888;
  padding-top:8px;
  padding-bottom: 9px;
  text-align: left;
  margin-bottom: 22px;
  font: 11px Ubuntu, Arial, sans-serif;
  color:#888;
}
.text_post_internal_service {
  text-align: left;
  font: 11px/18px Ubuntu, Arial, sans-serif;
  color:#888;
  overflow: hidden;
  margin-bottom: 55px;
}
.bold_span_internal {
  color: #545454;
  padding-right: 10px;
}
/* End Internal-service-page */

/* Internal-news-page */
.mini_block_news_internal {
  max-width: 600px;
  display: inline-block;

  padding-bottom: 30px;
}
.mini_internal_news_text {
  font: 13px/18px Ubuntu, Arial, sans-serif;
  color:#888;
  text-align: left;
}
.mini_internal_news_text img {
  width: 100%;
  padding-bottom: 30px;
  opacity: 0.7;
}
.mini_internal_news_text p {
}
.blue_internal {
  color: #8dc5ad;
}
.mini_internal_news_date {
  width: 100%;
  height: 32px;
  font: 9px Ubuntu, Arial, sans-serif;
  color:#888;
  text-align: left;
  border-top:1px solid #888;
  border-bottom: 1px solid #888;
  padding-top:8px;
  padding-bottom: 9px;
  margin-top: 30px;
}
.mini_internal_news_date img {
 vertical-align: middle;
}
@media (max-width: 340px) {
.mini_internal_news_date {
 height: 45px;
}
}